<%= form_tag homes_path, :method => 'get' do %>
  <p>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form form-control input-70", placeholder: "Masukan Nama Barang Untuk Mencari..." %>
      <span class="input-group-btn">
        <%= submit_tag "Search", name: nil, class: "btn btn-info" %>
        <a href="/" class="btn btn-danger" >Reset</a>
      </span>
    </div>
  </p>
<% end %>
<div id="barangs">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Kode Barang</th>
        <th scope="col">Nama Barang</th>
        <th scope="col">Stok</th>
      </tr>
    </thead>
      <tbody>
        <% @listbarang.each do |barang| %>
        <tr>
          <th scope="row"><%= barang.kode_barang %></th>
          <td><%= barang.nama_barang %></td>
          <td><%= barang.stok %></td>
        </tr>
          <!-- <p>
            <%= link_to "Show this barang", barang %>
          </p> -->
        <% end %>
    </tbody>
  </table>
  <%= paginate @listbarang %>
</div>
