<!-- !PAGE CONTENT! -->


  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <!-- <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5> -->
    <br>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa-solid fa-cubes w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3><%= @totalBarang %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Barang</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa-solid fa-right-to-bracket w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3><%= @totalBarangMasuk %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Barang Masuk</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa-solid fa-right-from-bracket w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3><%= @totalBarangKeluar %></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Barang Keluar</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa-regular fa-circle-xmark w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3><%= @getTotalBarangKosong%></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Barang Kosong</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <!-- Add these tabs in your HTML -->
      <ul class="nav nav-tabs" id="barangTabs">
        <li class="nav-item">
          <a class="nav-link active" id="tabListBarang" data-toggle="tab" href="#barangsListBarang">List Barang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tabListBarangKosong" data-toggle="tab" href="#barangsListBarangKosong">List Barang Kosong</a>
        </li>
      </ul>

      <!-- Tab content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="barangsListBarang">
          <h3>Data Barang </h3>
          <%= render "listbarang", barang: @listbarang %>
        </div>

        <div class="tab-pane fade" id="barangsListBarangKosong">
          <h3>Data Barang Kosong</h3>
          <%= render "listbarangkosong", barang: @listBarangKosong %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <%= javascript_include_tag 'movetab' %>
